<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .red {
            color: red;
        }
        .gray {
            color: gray;
        }
        input {
            border: 1px solid green;
        }
        .error {
            color: pink;
            font-size: 12px;
            margin-left: 10px;
        }
    </style>
</head>
<body>
    <h1>添加学生</h1>
    <form action="" method="post">
        {% csrf_token %}
        <div>
            {% if form.name.field.required %}
            <span class="red">*</span>
            {% endif %}
            <label class="gray">{{ form.name.field.label }}:</label>
            {{ form.name }}
            {% for error in form.name.errors %}
            <p class="error">{{ error }}</p>
            {% endfor %}
        </div>
        <div>
            {% if form.age.field.required %}
            <span class="red">*</span>
            {% endif %}
            <label class="gray">{{ form.age.field.label }}</label>
            {{ form.age }}
            {% for error in form.age.errors %}
            <p class="error">{{ error }}</p>
            {% endfor %}
        </div>
        <div>
            <button type="submit">添加学生</button>
        </div>
    </form>
</body>
</html>